.bottom{
    background-color: lavender;
    width: 100%;
    margin-bottom: 50px;
}

.bottom-all{
    width: 1280px;
    height: 200px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 16px;
}

.tradeRecords button{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.tradeRecords button:hover{
    background-color: #0dcaf0;
    color: white;
    border: 1px solid #0dcaf0;
}

.otherTradeRecords a:hover{
    color: #0dcaf0;
}